<div class="row">
    <div class="large-4 medium-4 small-4 columns">
        <img src="./images/icons/formula_yellow.png" class="imgHome" alt="formula" />
        <br />
        <h4>Choose your formula</h4>
    </div>
    <div class="large-4 medium-4 small-4 columns">
        <img src="./images/placeholder.png" id="imgHomeMiddle" alt="placeholder" />
    </div>
    <div class="large-4 medium-4 small-4 columns">
        <img src="./images/icons/recipe_yellow.png" class="imgHome" id="iconRecipe" alt="recipe" />
        <br />
        <h4>Recieve delicious recipes</h4>
    </div>
</div>
<div class="row">
    <div class="large-4 medium-4 small-4 columns">
        <img src="./images/icons/date_yellow.png" class="imgHome" alt="date" />
        <br />
        <h4>Choose a date to deliver</h4>
    </div>
    <div class="large-4 medium-4 small-4 columns">
        <img src="./images/icons/cancel_yellow.png" class="imgHome" alt="cancel" />
        <br />
        <h4>Easy Cancel</h4>
    </div>
</div>
<div class="row">
    <div class="small-12 large-12 columns">
        <h3>Bring some extra flavour into your life! </h3>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <!--<md-button class="md-primary md-raised title" ng-click="mainCtrl.setJoinPageActive()">Join now</md-button>-->
    </div>
</div>
<br /> <br /> <hr>
<!-- SHOP SHOWCASE -->
<div class="row">
    <div class="large-4 medium-4 small-4 columns">
        <img src="./images/placeholder.png" id="imgHomeLarge" alt="placeholder">
    </div>
    <div class="large-4 medium-4 small-4 columns">
        <img src="./images/placeholder.png" id="imgHomeLarge" alt="placeholder">
    </div>
    <div class="large-4 medium-4 small-4 columns">
        <img src="./images/placeholder.png" id="imgHomeLarge" alt="placeholder">
    </div>
</div> <br />
<div class="row">
    <div class="small-12 large-12 columns">
        <h3>Buy some accesories </h3>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <!--<md-button class="md-warn md-raised title" ng-click="mainCtrl.setProductsPageActive()">Go to shop</md-button>-->
    </div>
</div>