<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spicebox</title>
    <link rel="stylesheet" href="css/foundation.min.css" />
    <link rel="stylesheet" href="css/angular.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/homepage.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
</head>

<body ng-app="app">

    <div ng-controller="NavController as navCtrl">
        <div class="mobileNav" >
            <md-toolbar ng-class="{'transparent': navCtrl.isCurrentlyHomePage()}">
                <div class="md-primary">
                    <div layout="row">
                        <div layout-align="start center" layout="column">
                            <div class="menus" layout-wrap layout="row" layout-fill layout-align="space-between center">
                                <div layout="column" layout-align="center center">

                                    <md-menu>
                                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                            <i class="material-icons title">menu</i>
                                        </md-button>
                                        <md-menu-content>
                                            <md-button ng-click="navCtrl.setHomePageActive()">Home</md-button>
                                            <md-button ng-click="navCtrl.setHowPageActive()">How it works</md-button>
                                            <md-button ng-click="navCtrl.setProductsPageActive()">Products</md-button>
                                            <md-button ng-click="navCtrl.setJoinPageActive()">Register</md-button>
                                            <md-button ng-click="navCtrl.setJoinPageActive()"></md-button>
                                        </md-menu-content>
                                    </md-menu>

                                </div>
                            </div>
                        </div>
                        <div flex="80" layout-align="center center">
                            <md-button ng-click="navCtrl.setHomePageActive()"><h2 ng-class="{'homepageTitle': navCtrl.isCurrentlyHomePage()}" class="title" id="mobileTitle">Spicebox</h2></md-button>
                        </div>
                    </div>
                </div>
            </md-toolbar>
        </div>

        <div class="desktopNav">
            <md-toolbar ng-class="{'transparent': navCtrl.isCurrentlyHomePage()}" layout="row" layout-align="center center">
                <md-button ng-click="navCtrl.setHowPageActive()" class="btnNav">How it works</md-button>
                <md-button ng-click="navCtrl.setProductsPageActive()" class="btnNav">Products</md-button>
                <md-button ng-click="navCtrl.setHomePageActive()"><h1 ng-class="{'homepageTitle': navCtrl.isCurrentlyHomePage()}" class="title">Spicebox</h1></md-button>
                <md-button ng-click="navCtrl.setJoinPageActive()" class="btnNav">Register</md-button>
            </md-toolbar>
        </div>
    </div>

    <section ui-view></section>

    <script src="vendor/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>
</body>



</html>
