@font-face {
  font-family: SourceSansPro-Bold;
  src: url(../fonts/SourceSansPro-Bold.otf);
}
@font-face {
  font-family: SourceSansPro-Light;
  src: url(../fonts/SourceSansPro-Light.otf);
}
@font-face {
  font-family: SourceSansPro-Regular;
  src: url(../fonts/SourceSansPro-Regular.otf);
}
body {
  background-color: #e4d9d4;
}
h1 {
  font-family: HarabaraHand;
  color: #c22626;
  font-size: 80px;
  text-align: center;
}
h2 {
  font-family: SourceSansPro-Regular;
  text-align: center;
}
h3 {
  font-family: SourceSansPro-Light;
  font-size: 30px;
}
p {
  font-size: 18px;
  font-family:SourceSansPro-Regular;
  text-align: justify;
}
.subtitleRed{
  background-color: #c22626;
  padding-top: 10px;
}
.subtitleWhite{
  color: white;
}
.step{
  font-family: SourceSansPro-Bold;
  font-size: 150px;
}
.mobileLogo{
  font-family: HarabaraHand;
  color: #c22626;
  font-size: 35px;
  text-align: center;
  padding-right: 25px;
}
label {
  cursor: pointer;
  color: white;
  font-family: SourceSansPro-Light;
  float: left;
}
.fa-bars {
  color: #c22626;
  font-size: 40px;
  padding-left: 20px;
  padding-top: 10px;
}
#menu-toggle {
  display: none;
}
#navMobile {
  display: none;
}
#menu-toggle:checked + #navMobile {
  display: block;
}
#navMobile li a {
  font-family: SourceSansPro-Light;
  color: #a27a6d;
}
#navMobile ul li {
  position: relative;;
}
.row {
  text-align: center;
  width: 100%;
  padding-bottom: 20px;
}
#nav {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 10px;
}
#nav li{
  display:inline-block;
}
#nav li a {
  color: #a27a6d;
  font-family: SourceSansPro-Light;
  font-size: 20px;
}
#nav li a:hover {
  color: #Faa61F;
}
#nav li a:active {
  color: #Faa61F;
}
#btnSelect {
  background-color: #faa61f;
  font-family: SourceSansPro-Bold;
  font-size: 20px;
  height: 40px;
  width: 120px;
  border-radius: 5px;
  line-height: 0;
}
#btnSelect:hover {
  background-color: #CD9751;
}
.shopItem{
  background-color: #a27a6d;
  border-radius: 12px;
  width: 300px;
  margin: auto;
}
.imgProd{
  height: 300px;
  width: 350px;
  padding-bottom: 20px;
}
.prod{
  background-color:#a27a6d;
  border-radius: 12px;
  padding-left: 20px;
}
.icon{
  width: 150px;
}
.arrow {
  height: 160px;
}
.formJoin {

}
/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {
  .nav{
    display: none;
  }
}

@media only screen and (min-width : 640px) {
  .navMobile{
    display: none;
  }
}
