﻿#toastBounds {
    position: fixed !important;
    position: absolute; /* ie6 value b/c !important ignored */
    width: 100%;
    top: 0px;
    z-index: 5;
    height: 100px;
    pointer-events: none;
}
