@font-face {
  font-family: SourceSansPro-Bold;
  src: url(../fonts/SourceSansPro-Bold.otf); }
@font-face {
  font-family: SourceSansPro-Light;
  src: url(../fonts/SourceSansPro-Light.otf); }
body {
  background-color: #F0EAE7; }

h1 {
  font-family: SourceSansPro-Bold;
  color: #Faa61F;
  font-size: 80px;
  text-align: center; }

h2 {
  font-family: SourceSansPro-Bold;
  color: white;
  text-align: center; }

h3 {
  font-family: SourceSansPro-Light;
  font-size: 30px; }

h4 {
  font-family: SourceSansPro-Light;
  font-size: 20px; }

.mobileLogo {
  font-family: SourceSansPro-Bold;
  color: #Faa61F;
  font-size: 35px;
  text-align: center;
  padding-right: 25px; }

label {
  cursor: pointer;
  color: white;
  font-family: SourceSansPro-Light;
  float: left; }

.fa-bars {
  color: white;
  font-size: 40px;
  padding-left: 20px;
  padding-top: 10px; }

#menu-toggle {
  display: none; }

#navMobile {
  display: none; }

#menu-toggle:checked + #navMobile {
  display: block; }

#navMobile li a {
  font-family: SourceSansPro-Light;
  color: white; }

#navMobile ul li {
  position: relative; }

.row {
  text-align: center;
  width: 100%; }

.homepageBackground {
  background-image: url("../img/background.png");
  background-size: cover; }

#nav {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 10px; }

#nav li {
  display: inline-block; }

#nav li a {
  color: white;
  font-family: SourceSansPro-Light;
  font-size: 20px; }

#nav li a:hover {
  color: gray; }

#btnJoin {
  background-color: #faa61f;
  font-family: SourceSansPro-Bold;
  font-size: 20px;
  height: 50px;
  width: 160px;
  border-radius: 5px; }

#btnJoin:hover, #btnShop:hover {
  background-color: #CD9751; }

#btnJoinRed:hover {
  background-color: #871E1E; }

#btnJoinRed {
  background-color: #aa2323;
  font-family: SourceSansPro-Bold;
  font-size: 20px;
  height: 50px;
  width: 160px;
  border-radius: 5px; }

#btnShop {
  background-color: #a3796c;
  font-family: SourceSansPro-Bold;
  font-size: 20px;
  height: 50px;
  width: 160px;
  border-radius: 5px; }

.imgHome {
  height: 70px; }

#iconRecipe {
  height: 80px; }

#imgHomeMiddle {
  height: 200px; }

#imgHomeLarge {
  height: 150px; }

/*MEDIA QUERY*/
@media only screen and (max-width: 640px) {
  .nav {
    display: none; } }
@media only screen and (min-width: 640px) {
  .navMobile {
    display: none; } }

/*# sourceMappingURL=homepage.css.map */
