
@font-face {
  font-family: SourceSansPro-Bold;
  src: url(../fonts/SourceSansPro-Bold.otf);
}


@font-face {
  font-family: SourceSansPro-Light;
  src: url(../fonts/SourceSansPro-Light.otf);
}


@font-face {
  font-family: SourceSansPro-Regular;
  src: url(../fonts/SourceSansPro-Regular.otf);
}


.content {
  height: 100%;
  margin: auto;
  width: 100%;
}

.transparent {
    background-color: transparent !important;
}

h1 {
  font-size: 80px;
  text-align: center;
  font-family: SourceSansPro-Bold;
}

h2 {
  font-family: SourceSansPro-Regular;
  text-align: center;
}

h3 {
  font-family: SourceSansPro-Light;
  font-size: 30px;
  text-align: center;
}
p {
  font-size: 18px;
  font-family: SourceSansPro-Regular;
  text-align: justify;
}

.homepageIcon {
    color: white;
}

.title {
    color: white !important;
}

.homepageTitle {
    color: #faa61f !important;
}


#mobileTitle {
    font-size: 50px;
}

.prodSubtitle {
    color: black;
}

.subtitle {
    color: black;
}

.step {
    color: black;
    font-family: SourceSansPro-Light;
}

.loginBox {
  max-width:  90%;
  width: 500px
}

.stretch input  {
  width: 100%
}

label {
  cursor: pointer;
  font-family: SourceSansPro-Light;
  float: left;
}

.row {
  text-align: center;
  width: 100%;
  padding-bottom: 20px;
}

.arrow {
  height: 160px;
}

.btnNav {
    color: white !important;
}

/*MEDIA QUERY*/
@media only screen and (max-width: 640px) {
  .desktopNav {
    display: none;
  }
}

@media only screen and (min-width: 640px) {
  .mobileNav {
    display: none;
  }
}
