
    <h1>{{vm.$$ui.title}}</h1>

    <!-- USERNAME + EMAIL -->
    <div layout="column" layout-align="center center" layout-fill="layout-fill">
        <div layout="column" class="loginBox md-whiteframe-z1">
            <md-toolbar>
                <h2 class="md-toolbar-tools">User info <span></span></h2></md-toolbar></br></br>
            </md-toolbar>
            <br>
                <td>Email: {{vm.loggedInClient.info['email']}}</td></br></br>
                <td>Username: {{vm.loggedInClient.info['name']}}</td></br></br></br>
            </tr>

        </div>
    </div>

    <!-- ADDRESS -->
    <div layout="column" layout-align="center center" layout-fill="layout-fill">
        <div layout="column" class="loginBox md-whiteframe-z1">
            <md-toolbar>
                <h2 class="md-toolbar-tools"><span>Address</span></h2>
            </md-toolbar>
            <md-content layout="column" class="md-padding">

                <md-input-container>
                    <label>Street</label>
                    <input type="text" placeholder="Street" ng-model="vm.loggedInClient.address.street"/>
                </md-input-container>

                <md-input-container>
                    <label>Street</label>
                    <input type="text" placeholder="Street number" ng-model="vm.loggedInClient.address.number"/>
                </md-input-container>

                <md-input-container>
                    <label>Street</label>
                    <input type="text" placeholder="Postal code" ng-model="vm.loggedInClient.address.postal_code"/>
                </md-input-container>

                <md-input-container>
                    <label>City</label>
                    <input type="text" placeholder="City" ng-model="vm.loggedInClient.address.city"/>
                </md-input-container>

                <md-input-container>
                    <label>Country</label>
                    <input type="text" placeholder="Country" ng-model="vm.loggedInClient.address.country"/>
                </md-input-container>

                <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <md-button ng-click="vm.$$ix.save()" type="submit" class="md-warn md-raised title">Update</md-button>
                </div>
            </md-content>
        </div>
    </div>


    <!-- ORDES -->
    <div layout="column" layout-align="center center" layout-fill="layout-fill">
        <div layout="column" class="loginBox md-whiteframe-z1">
            <md-toolbar>
                <h2 class="md-toolbar-tools"><span>ORDERS</span></h2>
            </md-toolbar>
            <md-content layout="column" class="md-padding">

                <md-input-container>
                    <label>ng-model="vm.orders.product_price"</label>
                    <input type="text" placeholder="Country" ng-model="vm.orders.pk_order_id"/>
                </md-input-container>

            </md-content>
        </div>
    </div>

