<!-- REGSITER -->
<div layout="column" layout-align="center center" layout-fill="layout-fill">
    <div layout="column" class="loginBox md-whiteframe-z1">
        <md-toolbar>
            <h2 class="md-toolbar-tools"><span>Register</span></h2>
        </md-toolbar>

        <md-content layout="column" class="md-padding">
            <md-input-container>
                <label class="md-primary">UserName</label>
                <input type="text" placeholder="Username" ng-model="vm.client.name"/>
            </md-input-container>

            <md-input-container>
                <label>EmailAddress</label>
                <input type="email" placeholder="Email" ng-model="vm.client.email" />
            </md-input-container>

            <md-input-container>
                <label>Password</label>
                <input type="password" placeholder="Password" ng-model="vm.client.password" />
            </md-input-container>

            <md-input-container>
                <label>RepeatPassword</label>
                <input type="password" placeholder="Repeat password" ng-model="vm.client.repeatPassword" />
            </md-input-container>

            <div layout="row" layout-align="center center" style="padding-top:20px;">
                <md-button ng-click="vm.$$ix.save()" type="submit" class="md-warn md-raised title" value="Register">Register</md-button>
            </div>
        </md-content>
    </div>
</div>
<!-- LOGIN -->
<div layout="column" layout-align="center center" layout-fill="layout-fill">
    <div layout="column" class="loginBox md-whiteframe-z1">
        <md-toolbar>
            <h2 class="md-toolbar-tools"><span>Login</span></h2>
        </md-toolbar>

        <md-content layout="column" class="md-padding">
            <md-input-container>
                <label>EmailAddress</label>
                <input type="email" placeholder="Email" ng-model="vm.client.clientemail" />
            </md-input-container>

            <md-input-container>
                <label>Password</label>
                <input type="password" placeholder="Password" ng-model="vm.client.clientpassword" />
            </md-input-container>

            <div layout="row" layout-align="center center" style="padding-top:20px;">
                <md-button ng-click="vm.loginClient()"  type="submit" class="md-warn md-raised title" value="Submit">Login</md-button>
            </div>
        </md-content>
    </div>
</div>



