
<div>
    <div class="small-12 large-4 columns">
        <h1>{{vm.product.name}}</h1>
        <p>{{vm.product.imgURL}}</p>

        <h3>{{vm.product.promotion_description}} % off!</h3>
        <h3>{{vm.product.price | currency:"€"}}</h3>

        <br/>
        <img class="imgProd" ng-src="{{vm.product.image}}" />
        <h3> Description</h3>
        <p> {{vm.product.description}} </p>
        <h3> Specifications</h3>
        <p> {{vm.product.specifications}} </p>
        <h3> Category: {{vm.product.category_name}}</h3>
    </div>
</div>

