

    <div class="view-container" layout="column" ng-cloak>
        <div class="small-12 large-4 columns">
            <h1><span>{{vm.$$ui.title}}</span></h1>
        </div>

        <md-content ui-view flex layout-padding></md-content>
    </div>

