
<div ng-repeat="product in vm.products">
    <div class="small-12 large-4 columns">
        <md-card>
            <h2 style="color:black"> {{product.name}}</h2>
            <md-button ui-sref="products.details({pk_id_product: product.pk_id_product})">Click to view detail</md-button>

            <h3>{{product.price | currency:"€"}}</h3>
            <h3>{{product.promotion}} % off!</h3>


            <br/>
            <h3> Description</h3>
            <p> {{product.description}} </p>
        </md-card>
    </div>
</div>




