
<div>
    <div class="small-12 large-8 columns" >
        <md-card>
            <h1>{{vm.product.name}}</h1>

            <h3>{{vm.product.promotion_description}} % off!</h3>
            <h3>{{vm.product.price | currency:"€"}}</h3>

            <br/>
            <h3> Description</h3>
            <p style="text-align: center"> {{vm.product.description}} </p>
            <h3> Specifications</h3>
            <p style="text-align: center"> {{vm.product.specifications}} </p>
            <h3> Category: {{vm.product.category_name}}</h3>

            <md-button ng-show="vm.clientLoggedIn" ng-click="vm.$$ix.save()">Order</md-button>
        </md-card>
    </div>
</div>

